.product1{
    min-width: 280px;
    justify-content: space-evenly;
    width: 100%;
    background: #170550;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}
.project{
    background: #170550;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.headings{
    margin-top: 100px;
    
    /* margin-bottom: 50px; */
  }

.image1{
    max-width: 400px;
    width: 100%;
    max-height: 900px;
    height: 100%;
    display: flex;
    background: rgb(226, 221, 221) 50% / cover no-repeat;
    border-radius: 20px;
    margin: 100px 0px 20px 49px;
    overflow: hidden;
    font-weight: 600;
    flex-wrap: wrap;
    transition: background 0.3s, transform 0.3s;
    
}
.image1:hover {
    background: rgb(231, 221, 221) 50% / cover no-repeat;
    transform: scale(1.05);
  }
.img1{
    cursor: pointer;
    transition: transform 0.3s;
    margin-top: 50px;
    margin-left: 50px;
    max-width: 300px;
    width: 90%;
    height: 300px;
    flex-shrink: 0;
    border-radius: 20px 20px 20px 20px;
    background: rgb(198, 186, 186) 50% / cover no-repeat;
}
/* .img1:hover {
    transform: scale(0.8);
  } */

.name1{
    text-align: justify;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    text-wrap: wrap;
    color: #000;
    font-weight: 500;
    line-height: normal;
    margin: 50px 50px 50px 50px;
    
}

@media only screen and (max-width: 428px) {
    
    .product1{
        width: 100vw;
        margin-left: 0px;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    .img1{
        margin-left:15px;
        /* margin-right: 0px; */
    }
    .image1{
        margin-left: -10px;
    }
    .project_clickmore{
        margin-left: 0px;
    }

  
}
@media only screen and (max-width: 410px) {
    .image1{
        margin:0;
        padding-bottom: 20%;
        height: auto;
        font-size: 1.2vw;
        gap: 10px;
        
    }
    .name1{font-size: 1.2rem;}
    .product1{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        height: 100%;
    }
}
.project_clickmore{
    margin-bottom: 50px;
    margin-left: 30%;
    height: 25px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-radius: 15px;
    background-color: #170550;
    text-decoration: none;
    color: #fff;
    padding-left: 25px;
    font-size: 18px;
    transition: transform 0.3s;
}
.project_clickmore:hover {
    transform: scale(1.05);
  }
